main>div{
    width: 300px;
    padding: 16px;
    background-color: azure;
    margin: 12px auto;
}
img{
    max-width: 200px;
    max-height: 200px;
}
nav{
    display: flex;
    justify-content: center;
    align-content: center;
}
nav #search-input{
    border-radius: 5px;
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    color: #333;
}
#root{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}
